body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/leafs.jpg');
    border-image-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}